NodeRED-flow.txt
[
{"id":"b24e8ef6.93df3","type":"websocket out","z":"f2bf16a5.b34848","name":"","server":"f7085f32.4bb3e","client":"","x":736.5000152587891,"y":434.8000793457031,"wires":[]},
{"id":"38d340ea.27e27","type":"websocket in","z":"f2bf16a5.b34848","name":"","server":"f7085f32.4bb3e","client":"","x":307.50001525878906,"y":432.800048828125,"wires":[["e9ceff07.6c4da"]]},
{"id":"e9ceff07.6c4da","type":"function","z":"f2bf16a5.b34848","name":"Get Global context","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;","outputs":"1","noerr":0,"x":511.50001525878906,"y":433.80010986328125,"wires":[["b24e8ef6.93df3","60edc369.ae467c"]]},
{"id":"545876d5.867a68",
 "type":"template",
 "z":"f2bf16a5.b34848",
 "name":"HTML output",
 "field":"",
 "fieldType":"msg",
 "syntax":"mustache",
 "template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>BlueMix Sentiment Twitter Map</title>\n    <script src=\"http://use.edgefonts.net/antic-didone:n4:all.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/190225905/autolinker-min.js\"></script>\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n        \n        #content {\n            font-size: 10px;\n        }\n        \n        p {\n            font-family: verdana;\n            text-align: center\n        }\n        \n        .maptitle {\n            position: absolute;\n            border-radius: 10px;\n            top: .3em;\n            right: .3em;\n            color: white;\n            background: black;\n            opacity: 0.7;\n            padding: 0 10px;\n        }\n        \n        .titletext {\n            font-family: antic-didone;\n            font-size: 3em;\n            font-weight: 100;\n            margin-top: 0;\n            margin-bottom: 0;\n            line-height: 1em;\n        }\n        \n        .subtitle {\n            color: darkolivegreen;\n            font-size: .8em;\n            line-height: .3em;\n            vertical-align: middle;\n        }\n        \n        .credit {\n            position: absolute;\n            bottom: 0;\n            left: 10em;\n            font-size: .6em;\n            color: #222;\n        }\n        \n        .legend {\n            font-size: .6em;\n            color: #000;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div id=\"map\"></div>\n    <div class=maptitle>\n        <p class=titletext>Tweet Legend</p>\n        <div class=subtitle>\n            <p>Sentiment (negative to positive)</p>\n        </div>\n        <div class=legend>\n            <p>Sentiment:\n                <br>\n                    <img src=\"http://demo-nodered-sam.mybluemix.net/images/tweet-r2.png\">\n                    <img src=\"http://demo-nodered-sam.mybluemix.net/images/tweet-r1.png\">\n                    <img src=\"http://demo-nodered-sam.mybluemix.net/images/tweet-w.png\">\n                    <img src=\"http://demo-nodered-sam.mybluemix.net/images/tweet-g1.png\">\n                    <img src=\"http://demo-nodered-sam.mybluemix.net/images/tweet-g2.png\">\n                </p>\n        </div>\n    </div>\n    <div class=credit>\n        <p>Originally written by Tiran Dagan, IBM October 2015\n           <br>\n           Enhanced by the BlueMix Technical Team, IBM January, 2016</p>\n    </div>\n    <script type=\"text/javascript\">\n        var geocoder = new google.maps.Geocoder();\n        var autolinker = new Autolinker( {\n            newWindow : true,\n            truncate  : 30\n        } );\n        \n        var socketaddy = \"ws://{{req.headers.host}}/ws/location\";\n        var map;\n        var sock;\n        $(document).ready(function()\n        {\n            // Houston Lat Long in Degrees\n            // Latitude: 29.7632836\n            // Longitude: -95.3632715 \n            map = new GMaps({\n                div: '#map',\n                //lat: -12.043333,\n                //lng: -77.028333,\n                lat: 29.7632836,\n                lng: -95.3632715,\n                minZoom: 3\n            });\n            \n            // Use HTML5 geolocation if user allows it.\n            if (navigator.geolocation)\n            {\n                navigator.geolocation.getCurrentPosition(function(position) {\n                    var pos = {\n                        lat: position.coords.latitude,\n                        lng: position.coords.longitude\n                    };\n\n                    map.setCenter(pos);\n                });\n            }\n\n            \n            map.setZoom (3);\n      \n            sock = new WebSocket(socketaddy);\n            sock.onopen = function()\n            {\n                console.log(\"WebSocket - Connected\");\n                console.log(\"WebSocket - Sending ping\");\n                sock.send(\"Ping.\");\n                console.log(\"WebSocket - Ping sent\");\n            };\n            sock.onerror = function()\n            {\n                console.log(\"WebSocket - Error\");\n            };\n            sock.onmessage = function(evt)\n            {\n                var msgparse = JSON.parse(evt.data);\n                console.log (\"User: @\" + msgparse.user);\n                console.log (msgparse.location );\n                \n                GMaps.geocode({\n                    address: msgparse.location,\n                    callback: function(results, status)\n                    {\n                        if (status == 'OK')\n                        {\n                            var latlng = results[0].geometry.location;\n                            // map.removeMarkers();\n                           \t// map.setCenter(latlng[0].lat, latlng[0].lng);\n                            // Create marker\n                            var infoWindow = new google.maps.InfoWindow({ \n                                content: '<b>heading</b><br>more text'\n                            });\n                    \n                            var infoText = '<b>@' + msgparse.user + ':</b>&nbsp;' + \n                                           '<div id=content>' + msgparse.tweet + '</div>'\n                            var html = autolinker.link( infoText );\n                            \n                            // Sets the Default Tweet Icon\n                            var iconfile = 'http://demo-nodered-sam.mybluemix.net/images/tweet';\n                            var sentimentScore = msgparse.sentiment.score == \"\" ? 0 : parseFloat (msgparse.sentiment.score);\n            \n                            // User NodeRed Sentiment\n                            if (sentimentScore < -6.0) \n                                iconfile += '-r2'\n                            else if (sentimentScore < -2.0)\n                                iconfile += '-r1'\n                            else if (sentimentScore >= -2.0 && sentimentScore < 2.0)\n                                iconfile += '-w'\n                            else if (sentimentScore >= 2.0 && sentimentScore < 6.0)\n                                iconfile += '-g1'\n                            else if (sentimentScore >= 6.0)\n                                iconfile += '-g2';\n            \n                            iconfile += '.png';\n                            console.log ('sentiment ' + JSON.stringify(msgparse.sentiment) + ' score: ' + sentimentScore);\n                            console.log ('--> icon=' + iconfile);\n                            var marker = map.addMarker({\n                                lat: latlng.lat(),\n                                lng: latlng.lng(),\n                                title: msgparse.user,\n                                infoWindow: {\n                                    content: html,\n                                    maxWidth: 300\n                                },\n                                icon: iconfile\n                            });\n                            console.log (\"added marker: \" + marker.title);\n                            // map.setCenter(latlng.lat(), latlng.lng());\n                        }\n                        else\n                        {\n                            console.log (\"GMaps.geocode unsuccessful\");\n                        }\n                    }\n                });\n                console.log (msgparse.tweet);\n            }\n        });\n    </script>\n</body>\n\n</html>",
 "x":515.7727203369141,
 "y":510.07281494140625,
 "wires":[["a2eef36f.30c25"]]},
{"id":"a2eef36f.30c25","type":"http response","z":"f2bf16a5.b34848","name":"","x":701.4999885559082,"y":509.80005073547363,"wires":[]},
{"id":"90562c7d.adbaf","type":"http in","z":"f2bf16a5.b34848","name":"","url":"/map","method":"get","swaggerDoc":"","x":295.5000190734863,"y":509.80005073547363,"wires":[["545876d5.867a68"]]},
{"id":"c16fd455.b4bd68","type":"function","z":"f2bf16a5.b34848","name":"Load map json","func":"// Alchemy Method\n//var sentiment;\n//if (msg.features === undefined)  \n//    sentiment = \"\"\n//else\n//    sentiment =  msg.features[\"doc-sentiment\"];\n\n// NodeRed Sentiment Method\nvar sentiment = msg.sentiment;  //.score\n\nvar msg2 = { payload : {\n\t\tuser: msg.tweet.user.screen_name,\n\t\tlocation: msg.location === undefined ? \"\" : msg.location.place,\n\t\tlang : msg.lang,\n\t\tsentiment: sentiment,\n\t\ttweet: msg.tweet.text}\n\t};\n\n// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg2.payload;\nreturn msg2;\n","outputs":1,"noerr":0,"x":501.5000305175781,"y":361.00001525878906,"wires":[["b24e8ef6.93df3"]]},
{"id":"76797e70.77b6b","type":"function","z":"f2bf16a5.b34848","name":"Set Payload=Tweet","func":"msg.payload = msg.tweet.text;\nreturn msg;","outputs":1,"noerr":0,"x":306.7000274658203,"y":312.20001220703125,"wires":[["b9f134c5.d7bdf8"]]},
{"id":"cf6dddeb.77935","type":"function","z":"f2bf16a5.b34848","name":"set _id","func":"msg._id = msg.tweet.id_str;\nreturn msg;","outputs":1,"noerr":0,"x":683.5000152587891,"y":273,"wires":[["f89ed323.07f72"]]},
{"id":"27b04a23.8fc2c6","type":"debug","z":"f2bf16a5.b34848","name":"DEBUG","active":true,"console":"false","complete":"payload","x":310.50001525878906,"y":207,"wires":[]},
{"id":"b9f134c5.d7bdf8","type":"sentiment","z":"f2bf16a5.b34848","name":"","x":507.00001525878906,"y":272,"wires":[["c16fd455.b4bd68","cf6dddeb.77935","81608e5d.890a8"]]},
{"id":"81608e5d.890a8","type":"debug","z":"f2bf16a5.b34848","name":"DEBUG","active":false,"console":"false","complete":"sentiment.score","x":699.0000152587891,"y":217,"wires":[]},
{"id":"e74ecdbd.657dc","type":"comment","z":"f2bf16a5.b34848","name":"ReadMe","info":"Change Get Tweets to all for a lot of data\n\nSample string:  DELOS,WELLCertified,WELLBuilding","x":101.00001525878906,"y":197,"wires":[]},
{"id":"f89ed323.07f72","type":"cloudant out","z":"f2bf16a5.b34848","name":"Tweet DB","cloudant":"","database":"tweet_map","service":"demo-nodered-sam-cloudantNoSQLDB","payonly":false,"operation":"insert","x":850.0000152587891,"y":271.75,"wires":[]},
{"id":"60edc369.ae467c","type":"debug","z":"f2bf16a5.b34848","name":"","active":true,"console":"false","complete":"true","x":714.5769195556641,"y":366.84613037109375,"wires":[]},
{"id":"3699735d.b909fc","type":"twitter in","z":"f2bf16a5.b34848","twitter":"","tags":"trump,clinton","user":"dm","name":"Get Tweets","topic":"tweets","x":65,"y":327.99998474121094,"wires":[["27b04a23.8fc2c6","76797e70.77b6b"]]},
{"id":"f7085f32.4bb3e","type":"websocket-listener","z":"","path":"/ws/location","wholemsg":"false"}
]